{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} События {% endblock title %}</title>
</head>
<body>
{% block content %}
<div class="card-group">
  {% for event in events %}
  <div class="card">
    <img src={{event.event_pic}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{event.event_title}}</h5>
      <p class="card-text">{{event.event_description}}</p>
      <p class="card-text"><small class="text-muted">{{event.event_date}}</small></p>
    </div>
  </div>
  {% endfor%}
</div>
<br>
<div align="center" >
  <form action={{url_for('add_event_post')}} method="post">
    <button style="margin: 10px" type="submit" class="btn btn-light">Добавить событие</button>
  </form>
  <form  action={{url_for('delete_event_post')}}  method="post">
    <button style="margin: 10px" type="submit" class="btn btn-light">Удалить событие</button>
  </form>
    <button onclick="location.href='{{ url_for('change') }}'" style="margin: 10px" type="button" class="btn btn-light">Изменить событие</button>
</div>
{% endblock content %}
</body>
</html>